# Enable RewriteEngine
RewriteEngine On

# Don't rewrite requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php and append the original path
RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]